<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <!-- style="background-color: #e3f2fd;" -->
  <a class="navbar-brand" href="/">axoBIM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rvttocad">RVTtoCAD</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="/">Disabled</a>
      </li>
       -->

      <!-- Dropdown menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.lodplanner.com/">LOD Planner</a>
          <a class="dropdown-item" href="https://docs.b360.autodesk.com/">BIM 360 Docs</a>
          <a class="dropdown-item" href="">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
      <!-- <button class="btn btn-success my-2 my-sm-0" type="submit"><a href="/auth/login">logger</a></button> -->
      <a class="btn btn-success my-2 my-sm-0" href="/auth/login">Log in</a>
      <a class="btn btn-success mx-2 my-2 my-sm-0" href="/auth/login">Log out</a>
    </form>
  </div>
</nav>