<!doctype html>
<html lang="en">

<head>
  <% include partials/template/head.ejs %>
</head>

<body class="text-center">
  <header>
    <%include partials/template/header.ejs%>
  </header>
  xxxxxxxxxxxxxxx Home page 
  <%include partials/template/jsdefaults.ejs%>
</body>

</html>
