<!doctype html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="text-center">
    <form class="form-signin" method="POST" action="/auth/login">
        <% include partials/content/logo-signin.ejs %>

        <h1 class="h3 mb-3 font-weight-normal">Please enter your email</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Enter</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <% include partials/template/jsdefaults.ejs %>
    </form>
</body>

</html>