<!doctype html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="text-center">
    <form class="form-signin">
        <% include partials/content/logo-signin.ejs %>

        <h1 class="h3 mb-3 font-weight-normal">Enter your password</h1>

        <label for="inputPassword-verify" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword-verify" class="form-control" placeholder="Enter your Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%include partials/template/jsdefaults.ejs%>
    </form>
</body>

</html>